
.vscode/
a.txt
build/
config.yaml
contrib/emotiefflib/
contrib/libtorch/
contrib/onnxruntime/
emotion_detection.log
frontend/build/
frontend/node_modules/
frontend/package-lock.json
results.txt
src/emotion_detection_app.egg-info/
src/source/pytorch_utils/
venv/