.vscode/
a.txt
data/
logs/
models/
results/
uploads/
build/
config.yaml
contrib/emotiefflib/
contrib/libtorch/
contrib/onnxruntime/
emotion_detection.log
frontend/build/
frontend/node_modules/
frontend/package-lock.json
results.txt
src/emotion_detection_app.egg-info/
src/source/pytorch_utils/
venv/
training/pretrained_model.pt
training/model_v0.0.1.pt
training/images/
training/processed_images/