albumentations
ffmpeg
ffmpeg-python
hyperopt
imutils
ipython
librosa
matplotlib
mediapipe
more-itertools
moviepy==1.0.3
gunicorn
nltk
noisereduce
numpy
opencv-python
pandas
pillow
psutil
pytest
pytube
regex
scikit-learn
scipy
setuptools
spacy
thinc
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
werkzeug
flask
flask_limiter
wsgi
redis
facenet_pytorch
gevent
onnx
onnxruntime
